[Unit]
Description=EPP Profile Switcher Service
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/local/libexec/epp-profile-switcher
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
